[submodule "experience-primer-copilot-SJZHZ"]
	path = experience-primer-copilot-SJZHZ
	url = https://github.com/Exp-Primer-Copilot-Cohort-1/experience-primer-copilot-SJZHZ
[submodule "series-intro-to-github-flow-SJZHZ"]
	path = series-intro-to-github-flow-SJZHZ
	url = https://github.com/Exp-Intro-to-GitHub-Flow-Cohort-1/series-intro-to-github-flow-SJZHZ
